<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lateensoft.pathfinder.toolkit"
    android:versionCode="5"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher_quillsword"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:hasCode="true" android:allowBackup="true">
        <activity
            android:name=".PTDiceRollerActivity"
            android:label="@string/title_activity_ptdice_roller"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PTPointbuyCalculator"
            android:label="@string/title_activity_ability_calc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PTCharacterSheetActivity"
            android:label="@string/title_activity_character_sheet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PTPartyManagerActivity"
            android:label="@string/title_activity_party_manager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".party.PTPartyMemberEditorActivity"
            android:label="@string/title_activity_party_member_editor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PTInitiativeTrackerActivity"
            android:label="@string/title_activity_initiative_tracker"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PTPartySkillCheckerActivity"
            android:label="@string/title_activity_skill_checker"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".party.PTEncounterMemberEditorActivity"
            android:label="@string/title_activity_party_member_editor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".party.PTBasePartyMemberEditorActivity"
            android:label="@string/title_activity_party_member_editor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PTMainMenu"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_main_menu"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>