<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lateensoft.pathfinder.toolkit"
    android:versionCode="9"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_logo_holo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:hasCode="true" android:allowBackup="true">
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_main_menu"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.character.ArmorEditActivity"
            android:label="@string/new_armor_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.character.WeaponEditActivity"
            android:label="@string/new_weapon_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.character.InventoryItemEditActivity"
            android:label="@string/new_item_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.character.SkillEditActivity"
            android:label="@string/edit_skill_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.character.FeatEditActivity"
            android:label="@string/new_item_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.character.SpellEditActivity"
            android:label="@string/new_item_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.party.PartyMemberEditorActivity"
            android:label="@string/title_activity_party_member_editor"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.PickerActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
		<activity
            android:name=".views.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
      		android:name=".views.settings.AboutActivity"
            android:label="@string/title_activity_about"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
    </application>

</manifest>