<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lateensoft.pathfinder.toolkit"
    android:versionCode="5"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:name="com.lateensoft.pathfinder.toolkit.PTBaseApplication"
        android:icon="@drawable/ic_launcher_quillsword"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:hasCode="true" android:allowBackup="true">
        <activity
            android:name=".PTMainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_main_menu"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.character.PTCharacterArmorEditActivity"
            android:label="@string/new_armor_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.character.PTCharacterWeaponEditActivity"
            android:label="@string/new_weapon_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.character.PTCharacterInventoryEditActivity"
            android:label="@string/new_item_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.character.PTCharacterSkillEditActivity"
            android:label="@string/edit_skill_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".views.character.PTCharacterFeatEditActivity"
            android:label="@string/new_item_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".party.PTPartyMemberEditorActivity"
            android:label="@string/title_activity_party_member_editor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".party.PTEncounterMemberEditorActivity"
            android:label="@string/title_activity_party_member_editor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".party.PTBasePartyMemberEditorActivity"
            android:label="@string/title_activity_party_member_editor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
		<activity
            android:name=".settings.PTSettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".settings.PTAboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
    </application>

</manifest>